<body>
    <div class="container">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <div id="userinfo"></div>
        <button onclick="signout()"> Sign Out</button>
    </div>
</body>

<!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
<meta name="google-signin-client_id" content="626330678425-juc9ko55eqqbe50tiir0te85tofhdd7h.apps.googleusercontent.com">
<script async defer src="https://apis.google.com/js/platform.js"></script>
<script defer async src="../app/shopFuctions.js"></script>
<script defer async src="../app/account.js"></script>