<!--Footer-->

<div class="foot">
    <h1 class="footerheading">T-Store</h1>
    <div class="footercontent">
        <ul>
            <li>
                <h2>Customer service</h2>
            </li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Return Order</a></li>
            <li><a href="#">Cancel Order</a></li>
            <li><a href="#">Track Order</a></li>
        </ul>
        <ul>
            <li>
                <h2>Company</h2>
            </li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
        </ul>
        <ul>
            <li>
                <h2>Connect with us</h2>
            </li>
            <img src="./assets/instagram.png" class="socialmedia" alt="Instagram icon">
            <img src="./assets/facebook.png" class="socialmedia" alt="Facebook icon">
            <img src="./assets/twitter.png" class="socialmedia" alt="Twitter icon">
        </ul>
    </div>
</div>