<!--Content-->
<!-- main content -->
<div class="maincontent">
    <div class="content">
        <!--Front landing-->
        <div>
            <div class="headcontent">
                <h2 class="subheading">Limited Edition</h2>
                <h2 class="mainheading">Sun Kissed</h2>
                <h2 class="mainheading_blur">Sun Kissed</h2>
                <h2 class="description">Unisex Round Neck and Premium Cotton</h2>
                <button class="buy">Buy Now</button>
            </div>
            <div class="circle1"></div>
        </div>
        <div class="contentGraphics">
            <img src="assets/person.png" class="frontImage" alt="front image">
            <div class="circle2"></div>
        </div>
    </div>
</div>
<!-- main content -->

<h1 class="gallery1h">Featured Products</h1>
<div class="gallery1">
    <!--Gallery 1: Featured Products-->
    <div class="productcard">
        <div>
            <h2 class="cardtaghead">T-Store</h2>
            <h2 class="cardtagsubhead">A Unisex Store</h2>
            <h2 class="cardname">WANT DEATH</h2>
            <button class="shopbtn">Shop Now</button>
        </div>
        <img src="./assets/tshirt.png" class="productimage" alt="Product Image">
        <div class="cardcircle1"></div>
        <div class="cardcircle2"></div>
    </div>
    <div class="productcard">
        <div>
            <h2 class="cardtaghead">T-Store</h2>
            <h2 class="cardtagsubhead">A Unisex Store</h2>
            <h2 class="cardname">WANT DEATH</h2>
            <button class="shopbtn">Shop Now</button>
        </div>
        <img src="./assets/tshirt.png" class="productimage" alt="Product Image">
        <div class="cardcircle1"></div>
        <div class="cardcircle2"></div>
    </div>
    <div class="productcard">
        <div>
            <h2 class="cardtaghead">T-Store</h2>
            <h2 class="cardtagsubhead">A Unisex Store</h2>
            <h2 class="cardname">WANT DEATH</h2>
            <button class="shopbtn">Shop Now</button>
        </div>
        <img src="./assets/tshirt.png" class="productimage" alt="Product Image">
        <div class="cardcircle1"></div>
        <div class="cardcircle2"></div>
    </div>
</div>

<h1 class="gallery2h">Wardrobe Basics</h1>
<div class="gallery2" id="productlist">
    <!--Gallery 2: Wardrobe Basics-->
    <div class="productcard">
        <div>
            <h2 class="cardtaghead">T-Store</h2>
            <h2 class="cardtagsubhead">A Unisex Store</h2>
            <h2 class="cardname">WANT DEATH</h2>
            <button class="shopbtn">Shop Now</button>
        </div>
        <img src="./assets/tshirt.png" class="productimage" alt="Product Image">
        <div class="cardcircle1"></div>
        <div class="cardcircle2"></div>
    </div>
    <div class="productcard">
        <div>
            <h2 class="cardtaghead">T-Store</h2>
            <h2 class="cardtagsubhead">A Unisex Store</h2>
            <h2 class="cardname">WANT DEATH</h2>
            <button class="shopbtn">Shop Now</button>
        </div>
        <img src="./assets/tshirt.png" class="productimage" alt="Product Image">
        <div class="cardcircle1"></div>
        <div class="cardcircle2"></div>
    </div>
    <div class="productcard">
        <div>
            <h2 class="cardtaghead">T-Store</h2>
            <h2 class="cardtagsubhead">A Unisex Store</h2>
            <h2 class="cardname">WANT DEATH</h2>
            <button class="shopbtn">Shop Now</button>
        </div>
        <img src="./assets/tshirt.png" class="productimage" alt="Product Image">
        <div class="cardcircle1"></div>
        <div class="cardcircle2"></div>
    </div>
</div>
<script defer src="../app/shopFuctions.js"></script>
<script defer src="../app/fetchproducts_cart.js"></script>