<!--Navbar-->
<header>
    <ul class="navbar">
        <li id="heading">
            <a href="#" id="heading1">T-Store</a>
            <a href="#" id="heading2">A Unisex Store</a>
        </li>
        <li>
            <img src="./assets/banner.png" class="wishlist" alt="wishlist icon">
            <a href="#">Wishlist</a>
        </li>
        <li>
            <img src="./assets/shopping-cart.png" class="cart" alt="cart icon">
            <a href="#">Cart</a>
        </li>
        <li>
            <img src="./assets/user.png" class="account" alt="user icon">
            <a href="#">Account</a>
        </li>
    </ul>
</header>